/* *główny kontent */

.nissan_gtr {
  background-image: url("../img/pexels-ibrahim-bilgin-12392985.jpg");
  height: 700px;
  background-position: center;
  background-size: cover;
}
.nissan_gtr div {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  padding: 20px;
  width: 500px;
  margin-left: 50px;
  border-radius: 12px;
  backdrop-filter: blur(12px);
}
.nissan_gtr h2 {
  color: #000000;
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;
}
.dlaczego_my {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}
.dlaczego_my h2 {
  font-size: 40px;
  text-align: center;
}
.dlaczego_my div {
  float: left;
  width: 45%;
}
.dlaczego_my p {
  border-right: 2px dashed #7dd3fc;
  font-size: 30px;
}
.dlaczego_my ul {
  list-style-type: katakana;
  margin-left: 100px;
}
.dlaczego_my li {
  font-size: 60px;
  color: #082f49;
}
